/**
* Author: Alessio Bollo
*
* This Stylesheet is for the styling of the page
*
*/

/* Mobile */

/* Global settings */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

@font-face {
    font-family: "Gilroy";
    src: url("./../res/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Mont";
    src: url("./../res/fonts/MontDemo-Heavy.otf");
}

:root {
    --primary: #8A42DC;
    --primary-dark: #7C2BCE;
    /*--white: #dfddec;*/
    --white: #f8f8f8;
    --white-faded: rgb(248, 248, 248, .5);
    --black: #1c1b20;
    --black-faded: rgb(28, 27, 32, .5);
    --big-gap: 50px;
    --medium-gap: 35px;
    --small-gap: 20px;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 95vh;
}

.container {
    padding: 0 var(--medium-gap);
}

.title {
    font-size: 2rem;
    font-family: Gilroy, sans-serif;
}

a {
    color: var(--primary);
    text-decoration: underline;
}

a:hover {
    color: var(--primary-dark);
    transition: all 0.2s;
}

.text-primary {
    color: var(--primary) !important;
}

.box {
    align-self: start;
    padding-bottom: var(--big-gap);
    background-color: #ffffff00;
}

.box figure {
    margin-left: 5px;
}

.box h2 {
    font-family: Gilroy, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    font-size: 4rem;
    line-height: 4rem;
}

.box h2 span {
    margin-left: -5px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    text-align: center;
}

ul li {
    margin: 0;
}

.icon {
    height: 7px;
    margin-bottom: 0;
}

.box figure .icon {
    height: 12px;
}

h3 {
    margin-bottom: var(--big-gap);
    font-size: 1.3rem;
    font-family: Gilroy, sans-serif;
}

.btn-round {
    border-radius: 50%;
}

.btn-primary,
.btn-primary:visited {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    box-shadow: 0 0 0 0.2rem var(--black-faded);
    opacity: 80%;
}

body,
body .hero,
body .skills,
body .projects {
    /* background-color: var(--white); */
    color: var(--black);
    transition: all 0.2s linear;
}

.bgi {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("./../res/imgs/marble1-small.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    width: 100vw;
    min-height: 100vh;
    transition: all 0.2s linear;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-black {
    color: var(--black) !important;
}

.font-baskerville {
    font-family: 'Libre Baskerville', serif;
}

/* Navbar section */
.navbar {
    border-top: 2px solid var(--primary);
    background-color: #ffffff00 !important;
}

.navbar .navbar-brand > img {
    height: 25px;
    content: url("./../res/logo/logo.svg");
}

.navbar-collapse ul {
    border: 0;
    border-left: 2px solid var(--primary);
}

.navbar a {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    padding: 0;
}

#btn-dark-mode:hover {
    cursor: pointer;
}

#btn-dark-mode > span:after {
    content: "dark";
}

/* Hero section */
.hero {
   /*  background-color: var(--white); */
    height: 100%;
}

.hero div.container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 var(--medium-gap);
}

.hero div.container .hero-content h1.hero-title {
    font-size: 1.8rem;
}

.hero div.container .hero-content div.hero-text {
    font-size: 1.1rem;
}

.strike {
  position: relative;
}

.strike::after {
  border-bottom: 0.125em solid;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 10 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

/* About section */
.about {
    color: var(--white);
    padding: var(--big-gap) 0;
}

.about div.container {
    padding: 0 var(--medium-gap);
}

.about #about-text {
    line-height: 1.5rem;
}

/* Skills section */

.skills {
    /* background-color: var(--white); */
    padding: var(--big-gap) 0
}

.skills .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "stitle"
        "sskills";
    padding: 0 var(--medium-gap);
}

.stitle {
    grid-area: stitle;
    padding: 0 var(--medium-gap);
}

.stitle .box .about-title {
    color: var(--primary);
}

.sskills {
    grid-area: sskills;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "frontend"
        "backend"
        "digitalandmobile"
        "design";
    padding: var(--medium-gap);
    gap: var(--medium-gap);
    background-color: var(--black);
    color: var(--white);
}

.sskills .skill h3 {
    font-size: 1.3rem;
}

.sskills .skill p {
    font-size: 0.9rem;
    margin-bottom: 0;
}

#frontend {
    grid-area: frontend;
}

#backend {
    grid-area: backend;
}

#digitalandmobile {
    grid-area: digitalandmobile;
}

#design {
    grid-area: design;
}

/* Projects section */
.projects {
    background-color: var(--white);
    padding: var(--big-gap) 0;
}

.projects .projects-content {
    padding: 0 var(--medium-gap);
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "pbox"
        "ptitle"
        "pcont";
}

.pbox {
    grid-area: pbox;
}

.projects > .projects-content > .pbox > figure > img {
    content: url("./../res/icons/Line_black.svg");
}

.projects .projects-content .ptitle {
    grid-area: ptitle;
}

.projects .projects-content .ptitle .skills-text {
    margin-bottom: var(--big-gap);
}

.projects .pcont {
    grid-area: pcont;
    padding: 0;
}

.projects .pcont .project {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "project-image"
        "project-desc";
}

.projects .pcont .project .project-image {
    grid-area: project-image;
}

.projects .pcont .project .project-desc {
    grid-area: project-desc;
    text-align: right;
}

.projects .pcont .project .project-desc .project-title {
    margin: 20px 0 10px;
    font-size: 0.9rem;
    font-family: Gilroy, sans-serif;
}

.projects .pcont .project .project-desc .project-title span {
    margin: 20px 0 10px;
    font-size: 0.7rem;
    font-family: 'Libre Baskerville', serif;
}

.projects .pcont .project .project-desc .project-link {
    font-size: 0.9rem;
    color: var(--black);
    font-family: 'Libre Baskerville', serif; 
}

/* Footer section */
.footer {
    background-color: var(--black);
    min-height: 95vh;
    padding: var(--big-gap) 20px;
}

.footer .container {
    color: var(--white);
}

.footer .container .social .social-link,
.footer .container .contacts .social-link {
    text-decoration: none;
}

.footer .container .social .social-link:hover, 
.footer .container .contacts .social-link:hover {
    text-decoration: underline;
}

.footer .palette .color p {
    font-family: 'Mont';
    margin: 0;
} 

.footer .palette .color p span {
    font-family: 'Gilroy';
}

.footer h5 i {
    font-size: 0.7rem;
    vertical-align: top;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .skills {
        padding: 0 var(--big-gap);
    }

    .sskills {
        grid-template-areas:
            "frontend backend"
            "digitalandmobile design";
        padding: 70px;
        gap: 70px;
    }
}

/* Desktop */
@media screen and (min-width: 960px) {

    /* Global settings */
    .box h2 {
        font-size: 6rem;
        line-height: 5.5rem;
    }

    /* Navbar section */
    .navbar-collapse ul:last-child {
        border: 0;
    }

    /* Hero section */
    .hero div.container .hero-content h1.hero-title {
        font-size: 2.7rem;
    }

    .hero div.container .hero-content div.hero-text {
        font-size: 1.3rem;
    }

    /* Skills section */
    .skills .container {
        grid-template-rows: auto;
        grid-template-columns: 40% auto;
        grid-template-areas:
            "stitle sskills";
        padding: 0 var(--medium-gap);
    }

    .sskills {
        align-self: center;
        justify-self: end;
        min-width: 500px;
    }

    /* Projects section */
    .projects .projects-content {
        grid-template-rows: auto;
        grid-template-columns: auto 40%;
        grid-template-areas:
            "pbox ."
            "pcont ptitle"
            "pcont ptitle";
    }

    .pcont {
        align-self: center;
        justify-self: start;
        border-right: 1px solid #d4d4d4;
    }

    .ptitle {
        padding: var(--big-gap);
    }

    /* Footer section */
    .footer {
        min-height: 60vh;
    }

    .footer .palette .color {
        min-width: 110px;
    }

}